body{
    background: rgb(255, 255, 255);
    align-items: center;
}

div {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
#header {
    padding: 0;
    justify-content: center;
    width: auto;
    align-content: center;
    left: 50px;
    margin: 70px;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200px;
    color: black;
}

.row {
    border: 2px rgba(0, 0, 255, 0) solid;
    min-height: 100px;
}

.col {
    border: 2px rgba(255, 0, 0, 0) solid;
    font-size: 30px;
}

/* left column */
#form {
    border: 2px rgba(144, 0, 255, 0) solid;
    max-width: 600px;
    width: 100%;
    margin: auto;
    height: 500px;
    align-items: center;
}

.form-label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.Addlist {
    background-color: rgb(51, 51, 235);
    padding: 6px 14px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-emphasis: none;
    font-size: 18px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    display: inline-block;
}

/* right column */
div #listdiv {
    border: 2px rgba(144, 0, 255, 0) solid;
    max-width: 600px;
    width: 100%;
    margin: auto;
    height: 500px;
    align-items: center;
    font-size: 15px;
    font-weight: 200px;
    color: black;
}

li #list-group-item {
    padding: 10px;
    border-radius: 3px;
    box-sizing: content-box;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 204, 204);
}

.form-lists h4 {
    font-size: 20px;
    font-weight: 300px;
    color: black;
}

.form-lists p {
    font-size: 16px;
    font-weight: 100px;
    color: rgb(40, 40, 40);
}

div .item-btn {
    float: right;
    display: flex;
    margin-bottom: 5px;
    justify-content: right;
    align-items: stretch;
}

.item-btn i {
    color: brown;
    font-size: 18px;
}